.idea/
/HW-1-1/cmake-build-debug/.ninja_deps
/HW-1-1/cmake-build-debug/.ninja_log
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/HW-1-1/cmake-build-debug/build.ninja
/HW-1-1/cmake-build-debug/.cmake/api/v1/query/cache-v2
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-c14d1896a2c3dacfb1d4.json
/HW-1-1/cmake-build-debug/CMakeFiles/clion-environment.txt
/HW-1-1/cmake-build-debug/CMakeFiles/clion-log.txt
/HW-1-1/cmake-build-debug/CMakeFiles/cmake.check_cache
/HW-1-1/cmake-build-debug/cmake_install.cmake
/HW-1-1/cmake-build-debug/CMakeCache.txt
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/HW-1-1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-47475cff8f617bf756dd.json
/HW-1-1/cmake-build-debug/CMakeFiles/CMakeOutput.log
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/HW-1-1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e6cb820e2338d70ca5af.json
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/HW-1-1/cmake-build-debug/CMakeFiles/HW-1-1.dir/HW-1-1.cpp.obj
/HW-1-1/cmake-build-debug/HW-1-1.exe
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-18T13-27-35-0626.json
/HW-1-1/cmake-build-debug/Testing/Temporary/LastTest.log
/HW-1-1/cmake-build-debug/CMakeFiles/rules.ninja
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/target-HW-1-1-Debug-ad005ca61b4f33e2f0e6.json
/HW-1-1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/HW-1-1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1c3b0cbdd7da3b8968d9.json
