/CW-1-1/cmake-build-debug/.ninja_deps
/CW-2-1/cmake-build-debug/.ninja_deps
/HW-1-1/cmake-build-debug/.ninja_deps
/HW-1-2/cmake-build-debug/.ninja_deps
/HW-2-8/cmake-build-debug/.ninja_deps
/HW-3-1/cmake-build-debug/.ninja_deps
/HW-3-2/cmake-build-debug/.ninja_deps
/CW-1-1/cmake-build-debug/.ninja_log
/CW-2-1/cmake-build-debug/.ninja_log
/HW-1-1/cmake-build-debug/.ninja_log
/HW-1-2/cmake-build-debug/.ninja_log
/HW-2-8/cmake-build-debug/.ninja_log
/HW-3-1/cmake-build-debug/.ninja_log
/HW-3-2/cmake-build-debug/.ninja_log
/CW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/CW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/CW-2-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/CW-2-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/HW-1-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/HW-1-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/HW-2-8/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/HW-2-8/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/HW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/HW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/HW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/HW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/CW-1-1/cmake-build-debug/build.ninja
/CW-2-1/cmake-build-debug/build.ninja
/HW-1-1/cmake-build-debug/build.ninja
/HW-1-2/cmake-build-debug/build.ninja
/HW-2-8/cmake-build-debug/build.ninja
/HW-3-1/cmake-build-debug/build.ninja
/HW-3-2/cmake-build-debug/build.ninja
/CW-1-1/cmake-build-debug/.cmake/api/v1/query/cache-v2
/CW-2-1/cmake-build-debug/.cmake/api/v1/query/cache-v2
/HW-1-1/cmake-build-debug/.cmake/api/v1/query/cache-v2
/HW-1-2/cmake-build-debug/.cmake/api/v1/query/cache-v2
/HW-2-8/cmake-build-debug/.cmake/api/v1/query/cache-v2
/HW-3-1/cmake-build-debug/.cmake/api/v1/query/cache-v2
/HW-3-2/cmake-build-debug/.cmake/api/v1/query/cache-v2
/HW-3-1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-4b6083c0f5b9929900d4.json
/CW-1-1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-5b6ae16b94c5dfebbe29.json
/HW-2-8/cmake-build-debug/.cmake/api/v1/reply/cache-v2-766d80499bbec42e189f.json
/HW-3-2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-1412a1a4ca8904971e15.json
/CW-2-1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-99280f434b945dcae785.json
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a0304b4341afbbe20d9f.json
/HW-1-2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-c5c216d46d03fed64064.json
/CW-1-1/cmake-build-debug/CMakeFiles/clion-environment.txt
/CW-2-1/cmake-build-debug/CMakeFiles/clion-environment.txt
/HW-1-1/cmake-build-debug/CMakeFiles/clion-environment.txt
/HW-1-2/cmake-build-debug/CMakeFiles/clion-environment.txt
/HW-2-8/cmake-build-debug/CMakeFiles/clion-environment.txt
/HW-3-1/cmake-build-debug/CMakeFiles/clion-environment.txt
/HW-3-2/cmake-build-debug/CMakeFiles/clion-environment.txt
/CW-1-1/cmake-build-debug/CMakeFiles/clion-log.txt
/CW-2-1/cmake-build-debug/CMakeFiles/clion-log.txt
/HW-1-1/cmake-build-debug/CMakeFiles/clion-log.txt
/HW-1-2/cmake-build-debug/CMakeFiles/clion-log.txt
/HW-2-8/cmake-build-debug/CMakeFiles/clion-log.txt
/HW-3-1/cmake-build-debug/CMakeFiles/clion-log.txt
/HW-3-2/cmake-build-debug/CMakeFiles/clion-log.txt
/CW-1-1/cmake-build-debug/CMakeFiles/cmake.check_cache
/CW-2-1/cmake-build-debug/CMakeFiles/cmake.check_cache
/HW-1-1/cmake-build-debug/CMakeFiles/cmake.check_cache
/HW-1-2/cmake-build-debug/CMakeFiles/cmake.check_cache
/HW-2-8/cmake-build-debug/CMakeFiles/cmake.check_cache
/HW-3-1/cmake-build-debug/CMakeFiles/cmake.check_cache
/HW-3-2/cmake-build-debug/CMakeFiles/cmake.check_cache
/CW-1-1/cmake-build-debug/cmake_install.cmake
/CW-2-1/cmake-build-debug/cmake_install.cmake
/HW-1-1/cmake-build-debug/cmake_install.cmake
/HW-1-2/cmake-build-debug/cmake_install.cmake
/HW-2-8/cmake-build-debug/cmake_install.cmake
/HW-3-1/cmake-build-debug/cmake_install.cmake
/HW-3-2/cmake-build-debug/cmake_install.cmake
/CW-1-1/cmake-build-debug/CMakeCache.txt
/CW-2-1/cmake-build-debug/CMakeCache.txt
/HW-1-1/cmake-build-debug/CMakeCache.txt
/HW-1-2/cmake-build-debug/CMakeCache.txt
/HW-2-8/cmake-build-debug/CMakeCache.txt
/HW-3-1/cmake-build-debug/CMakeCache.txt
/HW-3-2/cmake-build-debug/CMakeCache.txt
/CW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/CW-2-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/HW-1-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/HW-2-8/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/HW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/HW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/CW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/CW-2-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/HW-1-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/HW-2-8/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/HW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/HW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/CW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/CW-2-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/HW-1-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/HW-2-8/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/HW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/HW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/CW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CW-2-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/HW-1-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/HW-2-8/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/HW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/HW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/CW-2-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/HW-1-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/HW-2-8/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/HW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/HW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/CW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/CW-2-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/HW-1-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/HW-2-8/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/HW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/HW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/CW-1-1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/CW-2-1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/HW-1-1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/HW-1-2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/HW-2-8/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/HW-3-1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/HW-3-2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/HW-3-2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-1b6e59a0fd6bcadc5b6c.json
/HW-3-1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-8cdf1ab369868ae0a668.json
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-724c48e4b7200e988007.json
/CW-2-1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-781ae87999ee1a12d29d.json
/HW-2-8/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-7205a54dd5d034d5e3bc.json
/CW-1-1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a268773ca5324f298b0b.json
/HW-1-2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e403ac04105b3e763318.json
/CW-1-1/cmake-build-debug/CMakeFiles/CMakeOutput.log
/CW-2-1/cmake-build-debug/CMakeFiles/CMakeOutput.log
/HW-1-1/cmake-build-debug/CMakeFiles/CMakeOutput.log
/HW-1-2/cmake-build-debug/CMakeFiles/CMakeOutput.log
/HW-2-8/cmake-build-debug/CMakeFiles/CMakeOutput.log
/HW-3-1/cmake-build-debug/CMakeFiles/CMakeOutput.log
/HW-3-2/cmake-build-debug/CMakeFiles/CMakeOutput.log
/CW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/CW-2-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/HW-1-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/HW-2-8/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/HW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/HW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/CW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/CW-2-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/HW-1-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/HW-1-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/HW-2-8/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/HW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/HW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/CW-1-1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/CW-2-1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/HW-1-1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/HW-1-2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/HW-2-8/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/HW-3-1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/HW-3-2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/CW-1-1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2a7547d62aec89555217.json
/HW-2-8/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8c414c8bdb6a3529e114.json
/HW-1-2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-08e091469df68875b35a.json
/HW-3-1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-32260aafb96509817bc2.json
/CW-2-1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-302111bfc6e7a7f3b4e4.json
/HW-3-2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c539d725fabdeb7af07a.json
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e6cb820e2338d70ca5af.json
/CW-1-1/cmake-build-debug/CMakeFiles/CW-1-1.dir/CW-1-1.cpp.obj
/CW-1-1/cmake-build-debug/CW-1-1.exe
/CW-2-1/cmake-build-debug/CMakeFiles/CW-2-1.dir/CW-2-1.cpp.obj
/CW-2-1/cmake-build-debug/CW-2-1.exe
/CW-1-1/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/CW-2-1/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/HW-1-2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/HW-2-8/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/HW-3-1/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/HW-3-2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/HW-1-1/cmake-build-debug/CMakeFiles/HW-1-1.dir/HW-1-1.cpp.obj
/HW-1-1/cmake-build-debug/HW-1-1.exe
/HW-1-2/cmake-build-debug/CMakeFiles/HW-1-2.dir/HW-1-2.cpp.obj
/HW-1-2/cmake-build-debug/HW-1-2.exe
/HW-2-8/cmake-build-debug/CMakeFiles/HW-2-8.dir/HW-2-8.cpp.obj
/HW-2-8/cmake-build-debug/HW-2-8.exe
/HW-3-1/cmake-build-debug/CMakeFiles/HW-3-1.dir/HW-3-1.cpp.obj
/HW-3-1/cmake-build-debug/HW-3-1.exe
/HW-3-2/cmake-build-debug/CMakeFiles/HW-3-2.dir/HW-3-2.cpp.obj
/HW-3-2/cmake-build-debug/HW-3-2.exe
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-20T11-27-40-0801.json
/CW-1-1/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-20T11-47-14-0853.json
/HW-1-2/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-21T18-35-08-0736.json
/HW-3-2/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-21T18-57-45-0621.json
/HW-3-1/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-21T19-47-02-0387.json
/HW-2-8/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-22T05-05-32-0272.json
/CW-2-1/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-22T08-00-25-0414.json
/CW-1-1/cmake-build-debug/Testing/Temporary/LastTest.log
/CW-2-1/cmake-build-debug/Testing/Temporary/LastTest.log
/HW-1-1/cmake-build-debug/Testing/Temporary/LastTest.log
/HW-1-2/cmake-build-debug/Testing/Temporary/LastTest.log
/HW-2-8/cmake-build-debug/Testing/Temporary/LastTest.log
/HW-3-1/cmake-build-debug/Testing/Temporary/LastTest.log
/HW-3-2/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/murzin_cpp2.iml
/CW-1-1/cmake-build-debug/CMakeFiles/rules.ninja
/CW-2-1/cmake-build-debug/CMakeFiles/rules.ninja
/HW-1-1/cmake-build-debug/CMakeFiles/rules.ninja
/HW-1-2/cmake-build-debug/CMakeFiles/rules.ninja
/HW-2-8/cmake-build-debug/CMakeFiles/rules.ninja
/HW-3-1/cmake-build-debug/CMakeFiles/rules.ninja
/HW-3-2/cmake-build-debug/CMakeFiles/rules.ninja
/.idea/shelf/Uncommitted_changes_before_Checkout_at_4_22_2022_12_47_PM_[Changes]/shelved.patch
/CW-1-1/cmake-build-debug/.cmake/api/v1/reply/target-CW-1-1-Debug-8991233db8c03ac28215.json
/CW-2-1/cmake-build-debug/.cmake/api/v1/reply/target-CW-2-1-Debug-0d303e8a07b9bd72befd.json
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/target-HW-1-1-Debug-ad005ca61b4f33e2f0e6.json
/HW-1-2/cmake-build-debug/.cmake/api/v1/reply/target-HW-1-2-Debug-bd63528ec5e133cc1df6.json
/HW-2-8/cmake-build-debug/.cmake/api/v1/reply/target-HW-2-8-Debug-7ad7b0a6186712608d69.json
/HW-3-1/cmake-build-debug/.cmake/api/v1/reply/target-HW-3-1-Debug-dbd264ae4896e82e88ec.json
/HW-3-2/cmake-build-debug/.cmake/api/v1/reply/target-HW-3-2-Debug-11fbcf519211b8e66d5a.json
/CW-1-1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/CW-2-1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/HW-1-1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/HW-1-2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/HW-2-8/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/HW-3-1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/HW-3-2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/CW-1-1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/CW-2-1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/HW-1-1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/HW-1-2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/HW-2-8/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/HW-3-1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/HW-3-2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/CW-1-1/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ca5fa0a180ed02c46d2b.json
/CW-2-1/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ca5fa0a180ed02c46d2b.json
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ca5fa0a180ed02c46d2b.json
/HW-1-2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ca5fa0a180ed02c46d2b.json
/HW-2-8/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ca5fa0a180ed02c46d2b.json
/HW-3-1/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ca5fa0a180ed02c46d2b.json
/HW-3-2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ca5fa0a180ed02c46d2b.json
/.idea/shelf/Uncommitted_changes_before_Checkout_at_4_22_2022_12_47_PM__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/CW-2-2/cmake-build-debug/.ninja_deps
/CW-2-2/cmake-build-debug/.ninja_log
/CW-2-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/CW-2-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/CW-2-2/cmake-build-debug/build.ninja
/CW-2-2/cmake-build-debug/.cmake/api/v1/query/cache-v2
/CW-2-2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-e6f30d7e4a1d89d6167c.json
/CW-2-2/cmake-build-debug/CMakeFiles/clion-environment.txt
/CW-2-2/cmake-build-debug/CMakeFiles/clion-log.txt
/CW-2-2/cmake-build-debug/CMakeFiles/cmake.check_cache
/CW-2-2/cmake-build-debug/cmake_install.cmake
/CW-2-2/cmake-build-debug/CMakeCache.txt
/CW-2-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/CW-2-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/CW-2-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/CW-2-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CW-2-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/CW-2-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/CW-2-2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/CW-2-2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6de6d0c9044c06207b8d.json
/CW-2-2/cmake-build-debug/CMakeFiles/CMakeOutput.log
/CW-2-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/CW-2-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/CW-2-2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/CW-2-2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4bd557457d5669520965.json
/CW-2-2/cmake-build-debug/CMakeFiles/CW-2-2.dir/CW-2-2.cpp.obj
/CW-2-2/cmake-build-debug/CW-2-2.exe
/CW-2-2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/CW-2-2/cmake-build-debug/.cmake/api/v1/reply/index-2022-05-03T14-37-03-0947.json
/CW-2-2/cmake-build-debug/Testing/Temporary/LastTest.log
/CW-2-2/cmake-build-debug/CMakeFiles/rules.ninja
/.idea/shelf/Uncommitted_changes_before_Checkout_at_4_22_2022_12_47_PM_[Changes]/shelved.patch
/CW-2-2/cmake-build-debug/.cmake/api/v1/reply/target-CW-2-2-Debug-e7bc5aff3906a25935db.json
/CW-2-2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/CW-2-2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/CW-2-2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ca5fa0a180ed02c46d2b.json
/.idea/shelf/Uncommitted_changes_before_Checkout_at_4_22_2022_12_47_PM_[Changes]/shelved.patch
/CW-3-1/cmake-build-debug/.ninja_deps
/CW-3-2/cmake-build-debug/.ninja_deps
/CW-3-1/cmake-build-debug/.ninja_log
/CW-3-2/cmake-build-debug/.ninja_log
/CW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/CW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/CW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/CW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/CW-3-1/cmake-build-debug/build.ninja
/CW-3-2/cmake-build-debug/build.ninja
/CW-3-1/cmake-build-debug/.cmake/api/v1/query/cache-v2
/CW-3-2/cmake-build-debug/.cmake/api/v1/query/cache-v2
/CW-3-1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-0eb4a3defcd2fe6930c1.json
/CW-3-2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-e78ac5e7c0029d26fef5.json
/CW-3-1/cmake-build-debug/CMakeFiles/clion-environment.txt
/CW-3-2/cmake-build-debug/CMakeFiles/clion-environment.txt
/CW-3-1/cmake-build-debug/CMakeFiles/clion-log.txt
/CW-3-2/cmake-build-debug/CMakeFiles/clion-log.txt
/CW-3-1/cmake-build-debug/CMakeFiles/cmake.check_cache
/CW-3-2/cmake-build-debug/CMakeFiles/cmake.check_cache
/CW-3-1/cmake-build-debug/cmake_install.cmake
/CW-3-2/cmake-build-debug/cmake_install.cmake
/CW-3-1/cmake-build-debug/CMakeCache.txt
/CW-3-2/cmake-build-debug/CMakeCache.txt
/CW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/CW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/CW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/CW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/CW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/CW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/CW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/CW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/CW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/CW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/CW-3-1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/CW-3-2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/CW-3-2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-0b9b2ed75220e0a18971.json
/CW-3-1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b858c7750c1240507dda.json
/CW-3-1/cmake-build-debug/CMakeFiles/CMakeOutput.log
/CW-3-2/cmake-build-debug/CMakeFiles/CMakeOutput.log
/CW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/CW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/CW-3-1/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/CW-3-2/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/CW-3-1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/CW-3-2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/CW-3-1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-6f6d6438135a048a158c.json
/CW-3-2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7ab8ff21a082150abff9.json
/CW-3-1/cmake-build-debug/CMakeFiles/CW-3-1.dir/CW-3-1.cpp.obj
/CW-3-1/cmake-build-debug/CW-3-1.exe
/CW-3-2/cmake-build-debug/CMakeFiles/CW-3-2.dir/CW-3-2.cpp.obj
/CW-3-2/cmake-build-debug/CW-3-2.exe
/CW-3-1/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/CW-3-2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/CW-3-1/cmake-build-debug/.cmake/api/v1/reply/index-2022-05-06T06-01-21-0727.json
/CW-3-2/cmake-build-debug/.cmake/api/v1/reply/index-2022-05-06T06-59-41-0380.json
/CW-3-1/cmake-build-debug/Testing/Temporary/LastTest.log
/CW-3-2/cmake-build-debug/Testing/Temporary/LastTest.log
/CW-3-1/cmake-build-debug/CMakeFiles/rules.ninja
/CW-3-2/cmake-build-debug/CMakeFiles/rules.ninja
/.idea/shelf/Uncommitted_changes_before_Checkout_at_4_22_2022_12_47_PM_[Changes]/shelved.patch
/CW-3-1/cmake-build-debug/.cmake/api/v1/reply/target-CW-3-1-Debug-d2768f4417464a4d7dba.json
/CW-3-2/cmake-build-debug/.cmake/api/v1/reply/target-CW-3-2-Debug-2a90d66b10d26f8ff5c1.json
/CW-3-1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/CW-3-2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/CW-3-1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/CW-3-2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/CW-3-1/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ca5fa0a180ed02c46d2b.json
/CW-3-2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ca5fa0a180ed02c46d2b.json
/.idea/shelf/Uncommitted_changes_before_Checkout_at_4_22_2022_12_47_PM_[Changes]/shelved.patch
